<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h2>World Refugee Day
20 June</h2>
<p>World Refugee Day is an international day designated by the United Nations to honour refugees around the globe. It falls each year on June 20 and celebrates the strength and courage of people who have been forced to flee their home country to escape conflict or persecution. World Refugee Day is an occasion to build empathy and understanding for their plight and to recognize their resilience in rebuilding their lives.</p>
</body>
</html>